<header>
	<div class="float-left">
		<div>
			<h1>
				新的评审
			</h1>
			<div class="breadcrumb">
				<a href="/view/openProjectList">
					{{formConfig.review_type}}
				</a>
				／ 新的评审
			</div>
		</div>
	</div>
	<div class="float-right">
		<ul class="menu-button" ng-show="$ctrl.isShow">
			<li class="impo" ng-click="submit(true)">
				提交
			</li>
			<li ng-click="submit(false)">
				保存草稿
			</li>
		</ul>
	</div>
</header>
<form>
	<div class="form col2" ng-repeat="Levelheader in formConfig.item_group ">
		<div class="form-group-header">
			{{Levelheader.name}}
		</div>
		<div class="form-item" ng-repeat="Secondheader in Levelheader.item">
			<span class="label">
				{{Secondheader.name}}
			</span>
			<span class="input" ng-if="Secondheader.type === 'file'">
				<input id="files" name="one_pic" ng-attr-type="{{Secondheader.type}}" ng-model="Secondheader.inputValue">
					<a ng-href="{{Secondheader.inputValue}}" ng-show="$ctrl.isShowFile" target="_black">
						查看已提交文件
					</a>
				</input>
			</span>
			<span class="input" ng-if="Secondheader.type === 'text'">
				<input ng-attr-name="{{Secondheader.id}}" ng-attr-type="{{Secondheader.type}}" ng-blur="$ctrl.checkInput(Secondheader)" ng-model="Secondheader.inputValue">
				</input>
			</span>
			<span class="input" ng-if="Secondheader.type === 'textarea'">
				<textarea cols="100" ng-attr-name="{{Secondheader.id}}" ng-blur="$ctrl.checkInput(Secondheader)" ng-model="Secondheader.inputValue" rows="10">
				</textarea>
			</span>
			<div class="input" ng-if="Secondheader.type === 'checkbox'">
				<input ng-attr-name="{{Secondheader.id}}" ng-attr-type="{{Secondheader.type}}" ng-blur="$ctrl.checkInput(Secondheader)" ng-model="Secondheader.inputValue">
				</input>
			</div>
			<p class="error-msg">
				{{Secondheader.errorMsg}}
			</p>
		</div>
	</div>
	<div align="center">
		<span style="color:red">
			{{apierrorMessage}}
		</span>
		<span ng-show="$ctrl.isShow">
			<button ng-click="submit(true)" type="button">
				提交
			</button>
			<button ng-click="submit(false)" type="button">
				存成草稿
			</button>
		</span>
		<span style="color:red">
			{{errorMessage}}
		</span>
	</div>
</form>
