<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge"/>
	<meta name="description" content=""/>
	<title></title>
	<script src="/jslib/angular.js"></script>
	<script src="/jslib/angular-cookies.js"></script>
	<script src="/app/rootApp.js"></script>
	<script src="/app/service/httpService.js"></script>
	<script src="/app/component/evaLoginout/evaLoginout.js"></script>
</head>
<body ng-app="loginoutapp" >
	<eva-loginout></eva-loginout>
<script>
    angular.module("loginoutapp")
</script>
</body>
</html>