logs/*
!.gitkeep
node_modules/
iaWorkspace/
app-win32-ia32/
app-linux-ia32/
app-darwin-x64/
app-linux-x64/
app-mas-x64/
app-win32-x64/
app-win32-ia32/
bower_components/
main/vendor/
main/dist/
main/index.html
public/jslib
views/jslib
public/uploadFiles
currProject.json
projectInfo.json
bs-config.json
*.min.js
*.min.css
*.bat
tmp
.DS_Store
.idea
*.sublime-workspace
jsHint-report/
main/lib/third/jquery_desktop/js/module.config.js
main/view/**/js/i18n-filter.js
*.xlsx
.vscode
main/print_page.html
report
/main/index_case.html
/main/lib/third/jquery_desktop/js/module_case.config.js
/main/lib/third
main/view/components/custom
main/view/case/js/init.js
main/view/case/files
temp
iaapps
yarn.lock